<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Pokédex</title>
    <link rel="stylesheet" href="./css/index.css" type="text/css">
    </head>
<body>
<main>
    <a>
        <% pokedex.forEach(element => { %>
            <div class="card-container">
                <div class="header-card">
                    <span>ID<%= element.id %></span>
                    <span>NUM<%= element.num %></span>
                </div>
            <div class="main-card">
                <img src="<%= element.img %> " 
                 alt="<%= element.name %> "
                 >
                <div class="data-card">
                <div class="card-name">Nome do pokémon: <%= element.name %></div>
                <span class="card-peso">Peso: <%= element.weight %> </span>
                <span class="card-altura">Altura: <%= element.height %></span>
                <div class="card-type"><%= element.type %> </div>               
            </div>
            </div>
            </div>
            <div class="footer-card"></div>
        <% }) %>
    </a>
</main>
</body>
</html>